body{
    background-color: lavender;
}
table{
    padding: 3em;
}
th{
    color: #417B5A;
    font-size: 3em;
}

td{
    color: #564256;
    font-size: 1.5em;
    padding-left: 1em;
    padding: .2em;
}
tr:first-child{
    font-weight: bold;
}
h2{
    color: #417B5A;
    font-size: 3em;
    padding-left: 1em;
}
.selectContact{
    padding-left: 5em;
}
ul{
    color: #564256;
    font-size: 2em;
}
li{
    list-style-type:square;
}
button{
    color: white;
    background-color: #564256;
    border-radius: .5em;
    font-size: 2em;
    padding: .3em;
}